Package: fbbackup
Version: 1.0.1-8
Section: unknown
Priority: optional
Architecture: all
Depends: firebird-utils, zip
Essential: no
Installed-Size: 333
Maintainer: Sergey Yushinin <yushinins@mail.ru>
Description: Firebird automatic backup script
